.slide-item {
    display: grid;
    grid-template-columns: 65% 35%;
    background: #000;
}

.slide-info {
    padding: 0 20px 40px 20px;
    color: #ffffff;
    align-self: end;
}

.slide-preco {
    display: block;
    margin-bottom: 5px;
    color: rgba(255, 255, 255,.5);
    font-weight: 300;
}

.slide-link {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.slide-link {
    padding: 15px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}